# OS
.DS_Store
Thumbs.db

# Editors & IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment & secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build & coverage
build/
coverage/
dist/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache & temp
.cache/
temp/
tmp/
